a {
  text-decoration: none;
}

.light { font-weight: 300; }
.thin { font-weight: 200; }

.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    @media only screen and (min-width : 0 + ($i * $interval-size)) {
      line-height: .8rem * (1 + (.13 * $i));
    }
    $i: $i + 1;
  }
}
