@import 'default-styles.scss';
@import 'materialize.scss';

/*----------------------Extra Fonts--------------------------*/
@font-face {
  font-family: 'OstrichSans';
  src: url('../../font/OstrichSans-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/*-----------------------------------------------------------*/

/*--------------------Website Loader-------------------------*/
body {
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background: #263238;
}
.loading {
  width: 100%;
  height: 100vh;
  z-index: 2147483647;
  position: fixed;
  background-color: #F5F5F5;
  text-align: center;
  .valign {
    width: 100%;
  }
  .text {
    display: inline-block;
    color: #455a64;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
    -webkit-animation: pulse 2s ease-in-out 0s infinite;
            animation: pulse 2s ease-in-out 0s infinite;
  }
  .bullet {
    width: 0;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background: #009688;
    -webkit-animation: animIn 1s ease-in-out 0s infinite;
    animation: animIn 1s ease-in-out 0s infinite;
  }
  .bullet:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .bullet:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .bullet:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .bullet:nth-child(4) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
}

@-webkit-keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/*---------------------------------------------------------*/

/*--------------------Site Styles--------------------------*/
#login {
  max-height: 90%;
  h2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #009688;
    padding: 40px 0;
  }
  .login-form .input-field {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  input[type=submit] {
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  p {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 14px;
    color: #212121;
    font-family: Roboto, sans-serif;
    text-align: center;
    span {
      font-weight: 800;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .loadingButton {
    position: relative;
    width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    .preloader-wrapper {
      display: none;
      position: absolute;
      top: 18px;
      right: 13px;
    }
    .feedback {
      color: #F44336;
      margin-bottom: 0;
    }
  }
  .progress {
    margin: 195px 0;
    display: none;
  }
  .signup-block {
    padding-bottom: 40px;
    overflow: hidden;
    .mdi-navigation-arrow-back {
      position: absolute;
      font-size: 30px;
      color: #009688;
      cursor: pointer;
    }
    h2 {
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 50px;
    }
    .input-field {
      margin: 5px 25px;
    }
  }
}
#contactUs {
  h1 {
    color: #004d40;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0 20px;
  }
  .col {
    padding: 20px 30px;
    img {
      display: block;
      width: 100%;
      max-width: 200px;
      border-radius: 50%;
      border: 5px solid #009688;
      margin: 0 auto;
    }
    p {
      color: #004d40;
      text-align: center;
      font-weight: 600;
      padding-top: 10px;
    }
    .contact {
      font-size: 14px;
      font-weight: 500;
      padding-top: 5px;
    }
  }
  .dev {
    position: relative;
    h5 {
      color: #FFFFFF;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      margin-bottom: 5px;
    }
    a {
      display: block;
      text-align: center;
      padding-top: 5px;
      font-size: 14px;
      color: #FFFFFF;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .dev>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#contactUs.modal {
  max-height: 80%;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding-top: 83px;
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  ul {
    padding: 20px 0;
    a {
      display: block;
      color: #eceff1;
      text-decoration: none;
      overflow: hidden;
      padding: 20px 25px 20px 25px;
      transition: background-color 0.2s linear;
      i {
        float: left;
        font-size: 20px;
        padding: 0 10px 0 0;
        color: #607d8b;
      }
      span {
        float: left;
        padding-top: 2px;
        padding-left: 5px;
      }
    }
    a:hover {
      background: #37474f;
      border-left: 3px solid #F44336;
      transition: background-color 0.2s linear;
    }
    a.selected {
      background: #37474f;
      border-left: 3px solid #F44336;
    }
  }
  .madeWith {
    width: 100%;
    position: absolute;
    bottom: 100px;
    p {
      font-size: 10px;
      color: #BDBDBD;
      text-align: center;
      span {
        padding-left: 2px;
        padding-right: 2px;
        color: #F44336;
      }
    }
  }
}
.navbar {
  .navbar-only {
    min-width: 325px;
    position: fixed;
    width: 100%;
    z-index: 998;
    background-color: #FFFFFF;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), top 0.5s;
            transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), top 0.5s;
    .menu-button {
      visibility: hidden;
      color: #212121;
      margin: 30px 0;
      font-size: 30px;
      cursor: pointer;
      float: left;
      transition: all 0.3s linear;
    }
    .menu-button:hover {
      color: #009688;
      transition: all 0.3s linear;
    }
    .logo {
      height: 70px;
      padding-top: 20px;
      float: left;
      transition: all 0.3s linear, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 3.55);
    }
    .logo:hover {
      transform: scale(1.03, 1.03);
      transition: all 0.3s linear, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 3.55);
    }
    .login-btn {
      margin-top: 28px;
      margin-right: 30px;
      transition: all 0.3s linear;
    }
    .hide-on-med-and-up {
      margin-right: 20px;
      margin-top: 32px;
      transition: all 0.3s;
    }
    .hide-on-med-and-up i {
      font-size: 25px;
      cursor: pointer;
    }
    .account {
      margin-right: 20px;
      margin-top: 25px;
      transition: all 0.3s linear;
      .dropdown-content li > a {
        font-size: 1rem;
        i {
          padding-left: 5px;
          padding-right: 5px;
          color: #546e7a;
        }
      }
      .mdi-action-account-circle {
        font-size: 40px;
        color: #757575;
        cursor: pointer;
      }
      .name {
        color: #00695c;
        font-weight: 600;
        padding: 1rem;
        cursor: default;
      }
      .name:hover {
        background-color: #FFFFFF;
      }
    }
  }
}
main.index {
  padding-right: 0;
  padding-top: 0;
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
header.index .menu {
  -webkit-transform: translate3d(-250px, 0, 0);
      -ms-transform: translate3d(-250px, 0, 0);
          transform: translate3d(-250px, 0, 0);
  padding-top: 0;
}
header.index .navbar-only {
  top: -100px;
}
header.index .scrolledIndex.navbar-only {
  top: 0;
}
main.index {
  .bgNavbar {
    position: absolute;
    z-index: 10;
    width: 100%;
    .white-logo {
      img {
        margin-top: 40px;
        margin-left: 50px;
        width: 150px;
      }
    }
    .navigation {
      a {
        color: #F5F5F5;
        position: absolute;
        top: 50px;
        padding: 15px 0;
        transition: color 0.3s;
        &:hover {
          color: #212121;
          transition: color 0.3s;
        }
      }
      a[href="index.php"] {
        color: #212121;
        right: 430px;
      }
      a[href="aboutus.php"] {
        right: 320px;
      }
      a[href="aboutus.php"]:hover~.overlay {
        right: 305px;
        transition: all 0.3s;
      }
      a[href="aboutus.php"]:hover~a[href="index.php"] {
        color: #F5F5F5;
        transition: color 0.3s;
      }
      a[href="#contactUs"] {
        right: 200px;
      }
      a[href="#contactUs"]:hover~.overlay {
        right: 185px;
        width: 110px;
        transition: all 0.3s;
      }
      a[href="#contactUs"]:hover~a[href="index.php"] {
        color: #F5F5F5;
        transition: color 0.3s;
      }
      a[href="#login"], a[href="logout.php"] {
        color: #212121;
        padding: 15px 25px;
        background-color: #FFFFFF;
        border-radius: 2px;
        right: 50px;
        transition: background-color 0.3s;
        &:hover {
          background-color: #EEEEEE;
          transition: background-color 0.3s;
        }
      }
      .overlay {
        position: absolute;
        z-index: -5;
        top: 0;
        right: 400px;
        width: 100px;
        height: 100px;
        background-color: #FFFFFF;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all 0.3s;
      }
    }
  }
  .bg {
    width: 100%;
    background: #616161 url('../../img/bfac-background.png') no-repeat center center;
    background-size: cover;
    position: relative;
    .tempHover {
      top: 45%;
      position: absolute;
      width: 100%;
      cursor: pointer;
      transform: translateY(-50%);
      h1 {
        display: block;
        font-family: OstrichSans, sans-serif;
        font-size: 90px;
        color: #F5F5F5;
        margin: 0 60px;
        text-align: center;
        opacity: 1;
        transition: opacity 0.5s;
      }
      p {
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        width: 90%;
        max-width: 850px;
        line-height: 1.5;
        font-weight: 300;
        font-size: 18px;
        transform: translateX(-50%);
        transition: opacity 0.5s;
        a {
          color: #F5F5F5;
        }
      }
      &:hover {
        h1 {
          opacity: 0;
          transition: opacity 0.5s;
        }
        p {
          opacity: 1;
          transition: opacity 0.5s;
        }
      }
    }
    .startProject {
      position: absolute;
      top: 65%;
      left: 50%;
      display: block;
      width: 190px;
      color: #F5F5F5;
      padding: 25px;
      border-radius: 2px;
      border: 1px solid #F5F5F5;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s;
      }
    }
  }
  .news-wrapper {
    padding: 20px;
    border-top: 5px solid #009688;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: #455a64;
      width: 100%;
      max-width: 1100px;
      padding-left: 10px;
      margin: 20px auto;
    }
    .news-container {
      .news-item {
        width: 100%;
        max-width: 1100px;
        margin: 20px auto;
        background-color: #FFFFFF;
        color: #263238;
        padding: 20px;
        line-height: 1.5;
        border-radius: 2px;
        overflow: hidden;
        .news-header {
          font-size: 22px;
          font-weight: 500;
          padding-bottom: 10px;
          border-bottom: 1px solid #BDBDBD;
        }
        .news-content {
          padding-top: 10px;
          font-size: 16px;
        }
        .news-time {
          float: right;
          margin-top: 15px;
          background-color: #263238;
          padding: 10px;
          border-radius: 2px;
          font-size: 10px;
          color: #F5F5F5;
        }
      }
    }
  }
  .organizers-wrapper {
    width: 100%;
    .organizers {
      margin: 20px auto;
      padding: 20px;
      background-color: #FFFFFF;
      width: 90%;
      max-width: 960px;
      overflow: hidden;
      h2 {
        padding: 10px;
        font-size: 25px;
        font-weight: 500;
        border-bottom: 1px solid #BDBDBD;
      }
      .col {
        position: relative;
        height: 150px;
        img {
          height: 60px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }
      }
    } 
  }
}
.scrolled.navbar .menu-button {
  margin-top: 22px;
  margin-bottom: 22px;
  transition: all 0.3s linear;
}
.scrolled.navbar .logo{
  height: 62px;
  padding-top: 12px;
  transition: all 0.3s linear, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 3.55);
}
.scrolled.navbar .login-btn {
  margin-top: 20px;
  transition: all 0.3s linear;
}
.scrolled.navbar .hide-on-med-and-up {
  margin-top: 23px;
  transition: all 0.3s linear;
}
.scrolled.navbar .account {
  margin-top: 15px;
  transition: all 0.3s linear;
}
main {
  flex: 1 0 auto;
  position: relative;
  width: 100%;
  padding-top: 90px;
  padding-right: 250px;
  background-color: #f5f5f5;
  overflow: hidden;
  -webkit-transform: translate3d(250px, 0, 0);
      -ms-transform: translate3d(250px, 0, 0);
          transform: translate3d(250px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  #main-body-container {
    position: relative;
    .preloader-container {
      width: 100%;
      height: 100%;
      .preloader-align {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .unableToConnect {
      color: #616161;
      font-size: 25px;
      span {
        font-weight: 800;
        font-size: 40px;
      }
    }
    .content-container {
      .user-greeting {
        width: 90%;
        max-width: 530px;
        max-height: 115px;
        margin: 50px auto;
        overflow: hidden;
        background-color: #F44336;
        i {
          float: left;
          border-radius: 50%;
          font-size: 75px;
          color: #009688;
          background-color: #F5F5F5;
        }
        h3 {
          float: left;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          font-size: 30px;
          font-weight: 500;
          color: #F5F5F5;
          padding-top: 21px;
          padding-left: 20px;
          width: 80%;
          max-width: 405px;
          max-height: 51px;
          text-overflow: ellipsis;
        }
      }
      .news-main-header {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 600;
        color: #37474f;
      }
      .news-container {
        width: 90%;
        max-width: 900px;
        position: relative;
        margin: 0 auto;
        line-height: 1.5;
        color: #37474f;
        .news-header {
          font-size: 18px;
          font-weight: 600;
        }
        .news-content {
          padding-bottom: 30px;
        }
        .news-time {
          position: absolute;
          bottom: 20px;
          right: 30px;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .challenges-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: #37474f;
        .challenges-header {
          margin-bottom: 0;
          margin-top: 50px;
          h2 {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 20px;
          }
        }
        ul {
          margin-top: 0;
          li {
            .collapsible-header {
              font-weight: 600;
            }
            .collapsible-body {
              padding: 10px 20px;
              .challenges-container {
                line-height: 1.5;
                box-shadow: none;
                border: 1px solid #cfd8dc;
                transition: all 0.3s;
                a {
                  color: #455a64;
                }
                &:hover {
                  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                  border: 1px solid #FFFFFF;
                  transition: all 0.3s;
                  a {
                    color: #263238;
                  }
                }
              }
            }
          }
        }
      }
      .projects-wrapper {
        .projects-main-header {
          width: 90%;
          color: #37474f;
          margin: 50px auto 0;
          font-size: 25px;
          font-weight: 600;
          padding: 20px;
        }
        ul {
          width: 90%;
          margin: 0 auto;
          line-height: 1.5;
          li {
            .collapsible-header {
              font-weight: 600;
              font-size: 18px;
            }
            .collapsible-body {
              padding: 10px 30px 20px;
              h3 {
                color: #1a237e;
                font-weight: 500;
                font-size: 18px;
                margin-top: 15px;
              }
              .team {
                .team-member {
                  float: left;
                  background-color: #009688;
                  color: #F5F5F5;
                  padding: 10px;
                  margin: 10px;
                  border-radius: 2px;
                }
              }
            }
          }
          .no-projects {
            text-align: center;
            padding: 30px 10px;
            h4 {
              color: #F44336;
              font-size: 22px;
              font-weight: 600;
            }
            h5 {
              color: #37474f;
              font-weight: 600;
              span {
                cursor: pointer;
              }
              span:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .new-project-form-header {
        width: 95%;
        color: #37474f;
        margin: 30px auto 0;
        font-size: 25px;
        font-weight: 600;
        padding: 20px;
      }
      .new-project-form-wrapper {
        width: 95%;
        color: #37474f;
        padding: 25px 50px;
        margin: 0 auto 10px;
        form {
          overflow: hidden;
          .dropdown-content li > a, .dropdown-content li > span {
            font-size: 1rem;
            padding: 0.75rem;
          }
          .select-wrapper input.select-dropdown {
            color: #9E9E9E;
          }
          .non-admin {
            label {
              margin-top: 20px;
              margin-bottom: 10px;
            }
            .team {
              padding: 10px;
              margin-bottom: 20px;
              border-radius: 2px;
              border: 1px solid #9E9E9E;
              .team-member {
                float: left;
                background-color: #009688;
                color: #F5F5F5;
                padding: 10px;
                margin: 10px;
                border-radius: 2px;
              }
            }
          }
          .admin {
           margin-top: 20px;
            .tagedit-list {
              border: none;
              width: 100%;
            }
            .input-field {
              border-bottom: 1px solid #9E9E9E;
              padding-bottom: 10px;
              margin-bottom: 15px;
            }
          }
          .loadingButton {
            position: relative;
            width: 250px;
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
            overflow: hidden;
            input[type=submit] {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            .preloader-wrapper {
              display: none;
              position: absolute;
              top: 10px;
              right: 13px;
            }
            .feedback {
              color: #F44336;
              font-size: 14px;
              text-align: center;
              margin-top: 15px;
            }
          }
        }
      }

    }
  }
}
.fixedNav {
  position: fixed;
  top: 0;
  z-index: 0;
  background-color: #00796b;
  width: 100%;
  height: 115px;
  padding: 40px;
  a {
    color: white;
    font-size: 30px;
  }
}
.background-nav {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  background-color: #00796b;
  z-index: -1;
}
.card-container {
  position: relative;
  z-index: 5;
  width: 92%;
  max-width: 960px;
  margin: 35px auto 0;
  .content {
    img {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 50px auto 35px;
    }
    h1 {
      color: white;
      font-size: 36px;
      font-weight: 500;
      margin-left: 20px;
      a {
        display: none;
        color: white;
        font-size: 25px;
        margin: 5px 15px 0;
      }
    }
    .card-content {
      padding: 0 20px 20px;
      h2 {
        color: #263238;
        font-weight: 500;
        line-height: 2;
        font-size: 22px;
        margin-top: 15px;
      }
      p {
        line-height: 2;
        color: #37474f;
      }
    }
  }
}
footer.page-footer {
  position: relative;
  z-index: 50;
  overflow: hidden;
  margin-top: 0;
  background-color: #00796b;
  h5 {
    line-height: 1.5;
    font-size: 40px;
    padding: 30px;
  }
  .footer-copyright {
    width: 100%;
  }
}
/*---------------------------------------------------------*/

/*---------------------Media Queries-----------------------*/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .navbar .navbar-only .menu-button {
    visibility: visible;
    margin-right: 30px;
    margin-left: 30px;
  }
  main {
    padding-right: 0;
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu {
    -webkit-transform: translate3d(-250px, 0, 0);
        -ms-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    padding-top: 0;
  }
  body.nav_is_visible main {
    -webkit-transform: translate3d(250px, 0, 0);
        -ms-transform: translate3d(250px, 0, 0);
            transform: translate3d(250px, 0, 0);
  }
  body.nav_is_visible .navbar-only{
    -webkit-transform: translate3d(250px, 0, 0);
        -ms-transform: translate3d(250px, 0, 0);
            transform: translate3d(250px, 0, 0);
  }
  body.nav_is_visible .menu {
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  body.nav_is_visible .madeWith {
    bottom: 20px;
  }
  main.index .bgNavbar .navigation {
    display: none;
  }
  main #main-body-container .content-container .new-project-form-wrapper {
    padding: 20px 15px;
  }
}
@media only screen and (max-width: 1100px) {
  .fixedNav {
    display: none;
  }
  .card-container {
    margin-top: 10px;
    .content h1 {
      font-weight: 400;
      font-size: 28px;
      margin-left: 0;
      a {
        display: inline-block;
      }
    }
  }
}
@media only screen and (max-width: 734px) {
  main.index .bg .startProject{
    top: 75%;
  }
}
@media only screen and (max-width: 494px) {
  main.index .bg .startProject{
    top: 78%;
  }
  main.index .bg .tempHover h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 452px) {
  main.index .bg .tempHover {
    top: 50%;
  }
}
@media only screen and (max-width: 415px) {
  main.index .bg .startProject{
    top: 85%;
  }
}
@media only screen and (max-width: 500px) {
  main #main-body-container .content-container .user-greeting {
    margin: 30px auto;
  }
  main #main-body-container .content-container .user-greeting h3 {
    width: 70%;
  }
  main #main-body-container .content-container .challenges-wrapper .challenges-header {
    margin-top: 30px;
  }
  main #main-body-container .content-container .projects-wrapper .projects-main-header {
    margin-top: 30px;
  }
  main #main-body-container .content-container .form-header {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 350px) {
  main #main-body-container .content-container .user-greeting h3 {
    width: 60%;
  }
}
/*---------------------------------------------------------*/