.header-background
{
	background-image: url('../../textures/background.jpg');
	height: 35% !important;
	background-size: cover;
}
@font-face
{
	font-family: "os-l";
	src:url('../../fonts/OpenSans-Light.ttf');
}
@font-face
{
	font-family: "os-r";
	src:url('../../fonts/OpenSans-Regular.ttf');
}
@font-face
{
	font-family: "os-b";
	src:url('../../fonts/OpenSans-Semibold.ttf');
}
#main-body-container
{
min-height:450px !important;
}
.header-split-1
{
	height: 30% !important;
}
.header-split-2
{
	height: 70% !important;
}
body
{
	overflow-x: hidden;
}
#one
{
	background: url('../../textures/1w.jpg');
	background-size: cover;
}
#two
{
	background: url('../../textures/2w.jpg');
	background-size: cover;

}
#three
{
	background: url('../../textures/3w.jpg');
	background-size: cover;

}
#four
{
	background: url('../../textures/4w.jpg');
	background-size: cover;

}
#five
{
	background: url('../../textures/5w.jpg');
	background-size: cover;

}
#six
{
	background: url('../../textures/6w.jpg');
	background-size: cover;

}
.issue-box-bg
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	padding: 10px;
	transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
}
.issue-box-bg:hover
{
	background: url('../../textures/fade.png');
	z-index: 100;
	opacity: 1.0;
}
.issue-image
{
	background-size: cover;
}
.res-box-bg
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	padding: 10px;
	transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
}
.res-box-bg:hover
{
	background: url('../../textures/fade.png');
	z-index: 100;
	opacity: 1.0;
}
.res-image
{
	background-size: cover;
}
.logo
{
	background: url('../../textures/logo.png');
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 47% 0px;
}
.cloud-up
{
	background-image: url('../../textures/cloud.png');
	background-position: 0% 7.3%;
	background-repeat: no-repeat;
	background-size: cover;

}
.cloud-down
{
	background-image: url('../../textures/cloud-bottom.png');
	background-position: 0% 7.5%;
	background-repeat: no-repeat;
	background-size: cover;

}
.success
{
	line-height: 100%;
	text-align: center;
	font-family: 'os-b';
}
.success
{
	line-height: 100%;
	text-align: center;
	font-family: 'os-l';
}
#error
{
	font-family: 'os-l';
	font-size: 0.8em;
	line-height: 1em;
	color: #b80000;
}
.hasCountdown
{
	background: none !important;
	font-size: 1.5em !important;
	border: none !important;
}
.countdown_section
{
	margin: 0 !important;
	padding: 0 !important;
}
.menu-bar
{
	margin-top: 3.5% !important;
}
.menu-button
{
	font-family: "os-l";
	color:#fff;
	background: none !important;
	padding: 0 !important;
	margin:0 !important;
	border: none;
	font-size: 1.2em !important;
	box-shadow: none;
	padding: 5px 10px 5px 10px !important;
	border-radius: 4px !important;
	text-shadow: 0px 0px 10px #222222;

}
.selected
{
	text-shadow:none;
	color: #9fc500;
	background-color: #fff !important;	
}
.menu-button:focus
{
	text-shadow:none;
	color: #9fc500;
	background-color: #fff !important;	

}
.menu-button:hover
{
	color:#9fc500;
}
.timer-title
{
	font-family: "os-r";
	color: #fff;
	text-shadow: 0.5px 0.5px 2px #616161;
	font-size: 1.2em;
	text-align: center;
	margin-top: 15px;
}
.timer-container
{
	margin-top: 10%;
}
.timer
{
	margin-top: 15px;
	font-family: "os-r";
	color: #fff;
	text-shadow: 0.5px 0.5px 2px #616161;
	font-size: 1.8em;
	text-align: center !important;
	margin-left: 12.5%;
}
.form-header
{
	font-family: "os-l";
	color: #3b98a7;
	font-size: 1.6em;
	text-align: center;
	padding-bottom: 5px;
}
.form-subheader
{
	font-family: "os-l";
	color: #222222;
	font-size: 0.8em;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	text-align: center;
	padding-bottom: 5px;
}
.form-label
{
	font-family: "os-l";
	font-size: 1.0em;
	padding-top: 5px;
}
.form-text:focus
{
	box-shadow: 0px 0px 1px 1px #bbd457 !important;
}
.form-text
{
	border: solid 1px #e7e7e7 !important;
	background-color: #fff !important;
	border-radius: 4px;
	font-size: 0.8em !important;
	font-family: "os-l" !important;
}
.login-error-msg
{
	margin-top: -5%;
	color: red;
}
.signin-text
{
	border: solid 1px #e7e7e7 !important;
	background-color: #fff !important;
	border-radius: 4px;
	font-family: "os-l" !important;	
}

.signin-text:focus
{
	box-shadow: 0px 0px 1px 1px #bbd457 !important;
}
.form-textarea
{
	border: solid 1px #e7e7e7 !important;
	background-color: #fff !important;
	border-radius: 4px;
	font-size: 0.8em !important;
	font-family: "os-l" !important;
}
.form-footer
{
	font-size: 0.7em;
}
.check-box-custom
{
	margin-left: 5px !important;
	height: 20px !important;
	width: 20px !important;
	padding: 0px !important;
}
.form-vaildation-correct
{
	margin-left: 5px !important;
	font-family: "os-l";
	padding-top: 3px;
	display: inline-block;
	font-size: 0.8em;
}

.quote-heading {
    font-family: 'os-b';
    font-size: 2.0em;
    text-align: center;
    color: #3b98a7;
}
.quote
{
	margin-top: -100px !important;
}
.quote-by
{
	font-family: 'os-l';
	font-size: 1.0em;
    text-align: center;
    margin-top: 5px;
    color: #3b98a7;
}
.body-header
{
	font-family: 'os-l';
	font-size: 1.8em;
	color: #808080;
	width: 90%;
	margin-left: 5%;
}
.body-text
{
	font-family: 'os-l';
	font-size: 1.0em;
	color: #808080;
	width: 90%;
	margin-left: 5%;
}
.news-item
{
	border: solid 1px #fff;
	padding: 12px;
	width: 90%;
	margin-left: 5%;
}
.news-item:hover
{
	border: solid 1px #cccccc;
}
.news-container
{
	border-left: solid 1px #cccccc;
	padding-left: 7px;
}
.news-header
{
	font-family: 'os-r';
	font-size: 1.3em;
	color: #3b98a7;
}
.news-content
{
	padding-top: 5px;
	font-size: 1.0em;
	color: #808080;
}
.issues-header
{
	font-family: 'os-r';
	font-size: 1.3em;
	color: #3b98a7;
}
.issues-container
{
	margin-left: 10%;
}
.res-header
{
	font-family: 'os-r';
	font-size: 1.3em;
	color: #3b98a7;
}
.res-container
{
	margin-left: 10%;
}
.challenges-container-2
{
	border: solid 1px #fff;
	padding: 5px 5px 5px 7px;
	border-left: solid 1px #cccccc;
	font-size: 0.8em;
	color: #808080 !important;
	width: 90%;
	margin-left: 5%;
	margin-top: 5px;
	cursor: pointer;
}
.challenges-container
{
	
	border: solid 1px #fff;
	padding: 5px 5px 5px 7px;
	border-left: solid 1px #cccccc;
	font-size: 0.8em;
	color: #808080;
	width: 90%;
	margin-left: 5%;
	margin-top: 5px;
	cursor: pointer;	
}
.abstract-container
{
	
	border: solid 1px #fff;
	padding: 5px 5px 5px 7px;
	border-left: solid 1px #cccccc;
	font-size: 0.8em;
	color: #808080;
	width: 90%;
	margin-left: 5%;
	margin-top: 5px;	
}
.challenges-container:hover
{
	border: solid 1px #cccccc;
}
.news-time
{
	padding-top: 7px;
	padding-left: 25px;
	display: inline-block;
	font-size: 0.7em;
	color: #808080;
}
.issue-list
{
	width: 90%;
	margin-left: 5%;
}
.issue-list li
{
	padding: 10px;
	width: 312px;
	height: 272px;
	border: solid 1px #fff;
}
.issue-list li:hover
{
	border: solid 1px #ccc;
}
.issue-box
{
	width: 290px;
	height: 250px;
}
.issue-header
{
	font-family: 'os-r';
	color: #fff;
	margin-top: 10px;
	font-size: 1.0em;
	text-align: center;
}
.issue-content
{
	font-family: 'os-l';
	color: #fff;
	margin-top: 10px;
	font-size: 0.8em;
	text-align: left;
	overflow-y:hidden;
}
.res-list
{
	width: 90%;
	margin-left: 5%;
}
.res-list li
{
	padding: 10px;
	width: 120px;
	height: 120px;
	border: solid 1px #fff;
}
.res-list li:hover
{
	border: solid 1px #ccc;
}
.res-box
{
	width: 100px;
	height: 100px;
}
.res-header
{
	font-family: 'os-r';
	color: #fff;
	margin-top: 10px;
	font-size: 0.8em;
	text-align: center;
}
.res-content
{
	font-family: 'os-l';
	color: #fff;
	margin-top: 10px;
	font-size: 0.8em;
	text-align: left;
	overflow-y:hidden;
}
.side-button
  {
    padding:20px !important;
    border-bottom:solid 1px #e8e8e8;
    font-family: 'os-l';
    cursor: pointer;
  }
  .side-button:hover
  {
    color: #fff;
    background: #009ddc;
  }
  .side-logout
  {
    font-family: 'os-l';
    color: #34495e;
    display: inline-block;
    padding: 4px;
    padding-left: 0px;
    padding-right: 4px;
  }
  .side-logoutpic
  {
    height: 24px;
    width: 24px;
    padding: 2px;
    background-repeat: no-repeat;
    display: inline-block;
    background: url('textures/logout.png');
  }
  .side-button-container
  {
    padding:0px !important;
    border:solid 1px #e8e8e8;
  }
  .side-logout-container
  {
    padding:5px;
    padding-left: 15px;
    padding-right: 0px;
  }
  .side-profile
  {
    font-family: 'os-b';
    color: #fff;
    padding: 5px;
    display: inline-block;
  }
  .side-bar
  {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }
.footer-text
{
	text-align: center;
	color:#fff;
}
.form-button
{
	background-color: #3b98a7;
	border: none;
	width: 100%;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	border-bottom: solid 2px #286973;
}
.form-button:hover
{
	background: #3ea3b3;
}
.form-button:focus
{
	background: #286973;
	border-bottom: solid 2px #1f5259;
}
.menu-signin
{
	color: #fff;
	font-size: 1em;
	font-family: 'os-r';
	cursor: default;
}
.loading
{
	min-width: 100%;
	min-height: 100%;
	background : #fbfbfb;
	position: absolute;
	z-index: 999999999999;
}
.loading-content
{
	margin-top:25%;
}
#followingBallsG{
position:relative;
margin: 0px auto;
width:100px;
height:8px;
}
.loading-text
{
	text-align: center;
	margin-top: 5px;
	font-family: 'os-l';
	font-size: 0.9em;
}
.followingBallsG{
background-color:#60bb46;
position:absolute;
top:0;
left:0;
width:8px;
height:8px;
-moz-border-radius:4px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:4px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:4px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:4px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:4px;
animation-name:bounce_followingBallsG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.13s;
-webkit-animation-delay:0.13s;
-ms-animation-delay:0.13s;
-o-animation-delay:0.13s;
animation-delay:0.13s;
}

#followingBallsG_3{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-ms-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#followingBallsG_4{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#60bb46;
}

50%{
left:93px;
background-color:#c5d93a;
}

100%{
left:0px;
background-color:#60bb46;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#60bb46;
}

50%{
left:93px;
background-color:#c5d93a;
}

100%{
left:0px;
background-color:#60bb46;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#60bb46;
}

50%{
left:93px;
background-color:#c5d93a;
}

100%{
left:0px;
background-color:#60bb46;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#60bb46;
}

50%{
left:93px;
background-color:#c5d93a;
}

100%{
left:0px;
background-color:#60bb46;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#60bb46;
}

50%{
left:93px;
background-color:#c5d93a;
}

100%{
left:0px;
background-color:#60bb46;
}

}
@media only screen and (max-width: 1366px)
{
.issue-header
{
	font-family: 'os-r';
	color: #fff;
	margin-top: 10px;
	font-size: 0.8em;
	text-align: center;
}
.issue-content
{
	font-size: 0.7em;
}
.issue-hide
{
	display: none;
}
.issue-list li
{
	padding: 10px;
	width: 225px;
	height: 185px;
	border: solid 1px #fff;
}
.issue-box
{
	width: 203px;
	height: 163px;
}
.timer
{
	/*margin-left: 8% !important;*/
}
.countdown_section
{
	width: 30 % !important;
	font-size: 0.6em !important;
}
.sponsor-image
{
	height: 150px;
}
}
@media only screen and (max-width: 768px)
{
.issue-hide
{
	display: inline-block;
}
.issue-list li
{
	padding: 10px;
	width: 100% !important;
	height: 192px;
	border: solid 1px #fff;
}
.timer-container
{
	margin-top: -5px;
}
.issue-box
{
	width: 100% !important;
	height: 170px;
}
#one
{
	background: url('../../textures/1w.jpg');
	background-size: cover;
}
#two
{
	background: url('../../textures/2w.jpg');
	background-size: cover;

}
#three
{
	background: url('../../textures/3w.jpg');
	background-size: cover;

}
#four
{
	background: url('../../textures/4w.jpg');
	background-size: cover;

}
#five
{
	background: url('../../textures/5w.jpg');
	background-size: cover;

}
#six
{
	background: url('../../textures/6w.jpg');
	background-size: cover;

}
.sponsor-image
{
	height: 65px;
}
}